* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-areas:
    'a a a b b'
    'c c d d d'
    'c c e e e'
    ;
    gap: 10px;
}

div {
    padding: 80px;
}

body {
    background-color: #1a1c28;
    display: flex;
    place-items: center;
    height: 100vh;
}

#orange {
    background-color:#eb5020;
    grid-area: a;
    padding: 80px 160px;
}

#yellow {
    background-color:#ffa410;
    grid-area: b;
    padding: 80px 80px 80px 80px;
}

#green {
    background-color: #05aa42;
    grid-area: c;
    padding: 80px 120px 80px 120px;
}

#blue1 {
    background-color: #01aefd;
    grid-area: d;
    padding: 40px 120px 40px 160px;
}

#blue2 {
    background-color:#01aefd;
    grid-area: e;
    padding: 40px 120px 40px 160px;
}