* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: Big Shoulders Display;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-bottom: 30px;
}

p {
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
    line-height: 25px;
}

body {
    background-color: hsl(0, 0%, 95%);
}

main {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    padding: 2em;
}

#sedan {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#sedan button {
    color: hsl(31, 77%, 52%);
}

#sedan button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#suv button {
    color:  hsl(184, 100%, 22%);
}

#suv button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#luxury button {
    color: hsl(179, 100%, 13%);
}

#luxury button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: hsl(0, 0%, 95%);
    font-weight: 700;
}

img{
    margin-bottom: 30px;
}

